body{
    position:relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    
   
}

.para{
    display: flex;
    justify-content: center;
    color: rgb(109, 109, 109);
}
.box{
    color: rgb(97, 97, 97);  
    display: flex;
    justify-content: center; 
    
}

input[type=email], input[type=password] {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(147, 142, 142);
    box-sizing: border-box;
    color: rgb(106, 100, 100);
}

  .back {
    background-color: white;
    position: absolute ;
    top: 0px;
    right: 190vh;
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 100px;
    border: none;
  }

  h1{
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  
  .signin{
    background-color: #1873cd;
    color: rgb(10, 9, 9);
    padding: 14px 160px;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
   
  }